<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Home Page"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    @@include('../partials/banner.html')

    <section class="main-container">
      <div id="homepage" class="block-container">
        <div class="container bg-gray competition-list-container">
          <div class="block-heading-filter">
            <h3 class="heading-category heading-30">Check Out All Of Our Amazing Competitions</h3>
            <span class="filters-block">
              <span class="text">Filters/Sort by</span>
              <a class="sort-dropdown" href="" title=""><span class="icon-icon"></span></a>
            </span>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item01.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item01.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item02.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item02.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-red">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item03.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item03.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item04.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item04.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item05.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item05.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item06.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item06.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item07.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item07.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item08.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item08.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item09.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item09.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item10.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item10.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item11.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item11.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <div class="block-image-card">
                  <a href="" title="">
                    <img class="card-img-top" 
                      data-src="images/list/item12.jpg" 
                      alt="Thumbnail [100%x225]" 
                      src="images/list/item12.jpg" 
                      data-holder-rendered="true"
                    >
                  </a>
                  <span class="tag-item tag-blue">
                    <span class="icon-mark-as-favorite-star"></span>
                    <span class="text">Featured</span>
                  </span>
                </div>
                <div class="card-body">
                  <h4 class="card-text text-center pb25">
                    <a class="link" href="offer_01.html" title="">
                      Your chance to win a $500 Virgin
                      Australia Gift Card
                    </a>
                  </h4>
                  <div class="text-center align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-md btn-enter">Enter Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- item -->
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html',{
      "bgGrey": false
    })
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>