<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "winner page"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')
    <section class="main-container">
      <div id="winner-page" class="block-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="text-center heading-winner-container">
                <h3 class="heading-winner">Congratulations!</h3>
                <p class="content-winner">we have the winners</p>
              </div>
            </div>
          </div>
          <div class="list-winner row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" 
                  data-src="../images/list/item12.jpg" 
                  alt="Thumbnail [100%x225]" 
                  src="../images/list/item12.jpg" 
                  data-holder-rendered="true"
                >
                <div class="card-body body-style-detail text-center">
                  <p class="item"><span class="label">Draw Number: </span><span class="info">0001</span></p>
                  <p class="item"><span class="label">Title: </span><span class="info">$200 Coles Gift Voucher</span></p>
                  <p class="item"><span class="label">Winner: </span><span class="info">J East Oxley 4075</span></p>
                  <p class="item"><span class="label">Competition Close Date: </span><span class="info">2016-09-30</span></p>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" 
                  data-src="../images/list/item02.jpg" 
                  alt="Thumbnail [100%x225]" 
                  src="../images/list/item02.jpg" 
                  data-holder-rendered="true"
                >
                <div class="card-body body-style-detail text-center">
                  <p class="item"><span class="label">Draw Number: </span><span class="info">0001</span></p>
                  <p class="item"><span class="label">Title: </span><span class="info">$200 Coles Gift Voucher</span></p>
                  <p class="item"><span class="label">Winner: </span><span class="info">J East Oxley 4075</span></p>
                  <p class="item"><span class="label">Competition Close Date: </span><span class="info">2016-09-30</span></p>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" 
                  data-src="../images/list/item03.jpg" 
                  alt="Thumbnail [100%x225]" 
                  src="../images/list/item03.jpg" 
                  data-holder-rendered="true"
                >
                <div class="card-body body-style-detail text-center">
                  <p class="item"><span class="label">Draw Number: </span><span class="info">0001</span></p>
                  <p class="item"><span class="label">Title: </span><span class="info">$200 Coles Gift Voucher</span></p>
                  <p class="item"><span class="label">Winner: </span><span class="info">J East Oxley 4075</span></p>
                  <p class="item"><span class="label">Competition Close Date: </span><span class="info">2016-09-30</span></p>
                </div>
              </div>
            </div>
            <!-- item -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" 
                    data-src="../images/list/item04.jpg" 
                    alt="Thumbnail [100%x225]" 
                    src="../images/list/item04.jpg" 
                    data-holder-rendered="true"
                  >
                  <div class="card-body body-style-detail text-center">
                    <p class="item"><span class="label">Draw Number: </span><span class="info">0001</span></p>
                    <p class="item"><span class="label">Title: </span><span class="info">$200 Coles Gift Voucher</span></p>
                    <p class="item"><span class="label">Winner: </span><span class="info">J East Oxley 4075</span></p>
                    <p class="item"><span class="label">Competition Close Date: </span><span class="info">2016-09-30</span></p>
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" 
                    data-src="../images/list/item05.jpg" 
                    alt="Thumbnail [100%x225]" 
                    src="../images/list/item05.jpg" 
                    data-holder-rendered="true"
                  >
                  <div class="card-body body-style-detail text-center">
                    <p class="item"><span class="label">Draw Number: </span><span class="info">0001</span></p>
                    <p class="item"><span class="label">Title: </span><span class="info">$200 Coles Gift Voucher</span></p>
                    <p class="item"><span class="label">Winner: </span><span class="info">J East Oxley 4075</span></p>
                    <p class="item"><span class="label">Competition Close Date: </span><span class="info">2016-09-30</span></p>
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs item">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" 
                    data-src="../images/list/item06.jpg" 
                    alt="Thumbnail [100%x225]" 
                    src="../images/list/item06.jpg" 
                    data-holder-rendered="true"
                  >
                  <div class="card-body body-style-detail text-center">
                    <p class="item"><span class="label">Draw Number: </span><span class="info">0001</span></p>
                    <p class="item"><span class="label">Title: </span><span class="info">$200 Coles Gift Voucher</span></p>
                    <p class="item"><span class="label">Winner: </span><span class="info">J East Oxley 4075</span></p>
                    <p class="item"><span class="label">Competition Close Date: </span><span class="info">2016-09-30</span></p>
                  </div>
                </div>
              </div>
              <!-- item -->
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>