.heading-offer {
  @include rem ('font-size', 35);
  line-height: 1.4;
  font-family: $font-heading-b;
  color: $color-text-default;
  @include breakpoint (1200) {
    @include rem ('font-size', 18);
  }
  .price {
    @include rem ('font-size', 71);
    line-height: 1.4;
    font-family: $font-family;
    color: #de1f31;
    font-weight: 700;
    text-shadow: -5px 2px 5px #ff000080;
    @include breakpoint (1200) {
      @include rem ('font-size', 30);
    }
  }
}

.heading-offer-login {
  @include breakpoint (500) {
    text-align: center;
    margin-bottom: 0 !important;
  }
  .heading {
    @include rem ('font-size', 25);
    line-height: 1.4;
    font-family: $font-heading-b;
    color: $color-text-default;
    display: inline-block;
    @include rem ('padding-top', 20);
    @include breakpoint (500) {
      @include rem ('font-size', 20);
      min-width: 100%;
    }
  }
  .button-facebook {
    float: right;
    display: inline-block;
    @include breakpoint (500) {
      float: none;
      min-width: 100%;
    }
  }
}

#offer-page {
  .btn-send { 
    display: block;
    width: 100%;
    @include breakpoint (500) {
      padding: 15px;
    }
  }
}

.policy-content {
  @include rem ('font-size', 12);
  line-height: 1.8;
  font-family: $font-family;
  color: $color-text-default;
  font-weight: 400;
  @include breakpoint (768) {
    padding-bottom: 15px !important;
  }
  .ref-link {
    color: $color-blue;
    &:hover {
      text-decoration: underline;
    }
  }
}