#survey-page {
  @include rem ('padding', 40, 0, 40, 0);
  @include breakpoint (992) {
    @include rem ('padding', 15, 0, 15, 0);
  }
  
  .btn-next {
    // @include breakpoint (992) {
    //   display: block;
    //   margin: 0 auto;
    // }
    display: block;
    margin: 0 auto;
  }
}

.heading-survey {
  @include breakpoint (992) {
    @include rem ('padding-top', 15);
  }
  .hello {
    @include rem ('font-size', 37);
    line-height: 1.4;
    font-family: $font-family;
    color: #de1f31;
    font-weight: 700;
    text-shadow: -3px 1px 15px #ff000080;
    display: block;
    @include breakpoint (992) {
      @include rem ('font-size', 27);
    }
  }
  .desc {
    @include rem ('font-size', 32);
    text-transform: uppercase;
    line-height: 1.4;
    font-family: $font-heading-b;
    color: $color-text-default;
    display: block;
    @include breakpoint (992) {
      @include rem ('font-size', 22);
    }
  }
}

.spec-content {
  .progressbar-percent {
    text-align: center;
    @include rem ('font-size', 24);
    text-transform: uppercase;
    line-height: 1.4;
    font-family: $font-heading-b;
    color: $color-blue;
    @include rem ('padding-bottom', 10);
  }
  .progress {
    @include rem ('height', 13);
    background-color: $color-black-dark;
    @include roundedCorners(30);
    .progress-bar {
      @include roundedCorners(10);
      background-color: $color-blue;
    }
  }
}

.form-confirm {
  text-align: center;
  .heading {
    @include rem ('font-size', 28);
    text-transform: uppercase;
    line-height: 1.4;
    font-family: $font-heading-b;
    color: $color-text-default;
  }
  .desc {
    @include rem ('font-size', 16);
    line-height: 1.4;
    font-family: $font-heading-sb;
    color: $color-text-default;
    @include rem ('padding-bottom', 35);
  }
  .btn-group {
    display: block;
    .text {
      @include rem ('font-size', 20);
      line-height: 1.4;
      font-family: $font-heading-sb;
      color: #fff;
      @include rem ('padding-left', 10);
      @include breakpoint (769) {
        @include rem ('font-size', 16);
      }
    }
    .icon-ans {
      color: #fff;
      @include rem ('font-size', 13);
    }
    .btn {
      @include rem ('padding', 20, 0, 20, 0);
      display: block;
      width: 100%;
    }
  }
}

.specs-has-employment {
  @include breakpoint (768) {
    text-align: center;
  }
  .heading {
    @include rem ('font-size', 28);
    line-height: 1.4;
    font-family: $font-heading-b;
    color: $color-text-default;
    text-align: center;
  }
  .content {
    @include rem ('font-size', 16);
    line-height: 1.4;
    font-family: $font-heading-sb;
    color:$color-text-default;
    @include rem ('padding', 30, 0, 30, 0);
    text-align: center;
  }
  .content-bottom {
    @include rem ('font-size', 12);
    line-height: 1.4;
    font-family: $font-heading-sb;
    color:$color-grey;
  }
  .styled-input-single {
    @include rem ('padding', 6, 0, 6, 40);
    @include breakpoint (992) {
      @include rem ('padding', 6, 0, 6, 30);
      .text-small {
        @include rem ('font-size', 14);
      }
    }
    label {
      &::before {
        @include rem ('width', 20);
        @include rem ('height', 20);
        margin: -10px 0 0;
      }
      &::after {
        left: 4px;
        width: 12px;
        height: 12px;
        margin: -6px 0 0; 
      }
    }
  }
  .img-spec {
    @include rem ('padding', 45, 0, 45, 0);
    display: block;
    margin: 0 auto;
    @include breakpoint (768) {
      @include rem ('padding', 15, 0, 15, 0);
    }
  }
}