<section class="banner-container">
  <div class="block-container bg-banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="description-banner">
            <h3 class="heading">welcome!</h3>
            <p class="content">
              to The Australia’s number 1 site
              for freebies, discounts and prizes!
            </p>
            <a class="btn-view" href="#" title="View List Now!">
              <span class="icon-click"></span>
              <span class="text-btn">
                View List Now!
              </span>
            </a>
          </div>
          <div class="description-banner-small">
            <p class="content">
              <span class="text regular">Let's discover more than</span><br/>
              <span class="number">1000<sup>+</sup></span>
              <span class="text regular">valuable prizes.</span>
            </p>
            <a class="btn-link pull-right" href="#" title="View List Now!">
              <span class="text-btn">
                View List Now! <span class="icon-download"></span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
<section class="slogan-container bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="item-slogan medal">
          <h3 class="heading">
            Congratulation!
          </h3>
          <p class="text">
            To all lucky winner on last week. 
            <a class="link" href="#" title="VIEW LIST">VIEW LIST</a>
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="item-slogan gift">
          <h3 class="heading">
            Lorem ipsum
          </h3>
          <p class="text">
            In publishing and graphic design, lorem ipsum is a placeholder text
          </p>
        </div>
      </div>
    </div>
  </div>
</section>