@@if (bgGrey === true) {
  <footer class="footer-container bg-grey-light">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <ul class="menu-footer">
                <li class="nav-item"><a class="nav-link" href="">Aussie</a></li>
                <li class="nav-item"><a class="nav-link" href="">Winners</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
             <div class="footer-content">
                <p class="text-center">The information that you supply on this website is handled by AussieGiftCard.com and EMBR Group Pty Ltd. ABN 274 178 375 87 in a manner conforming with the Privacy Act 1988. By completing your details above to enter our prize draw you consent to AussieGiftCard.com, EMBR Group Pty Ltd. and its advertisers and sponsors (who may be outside of Australia, Including, but not limited to, USA, EU, NZ, India and the Philippines) using your email address to deliver you information and promotional material concerning third party offers.</p>
    
                <p class="text-center">You also consent for us to supply your contact information and survey responses to our prize sponsors so that they may use them to contact you via email, telephone or post. By submitting your details above and selecting an offer from our survey, you expressly consent for that entity to contact you on the details provided. You agree that we can use your details for an indefinite period or until you notify us or opt out from receiving other offers. Trademarks, logos, brands and images that appear on this website are not property of AussieGiftCard.com and EMBR Group Pty Ltd. and are property of their respective owners.</p>
      
                <p class="text-center">Aussie Gift Card and EMBR Group Pty Ltd. does receive marketing fees from all advertisers including any financial institutions. You should always read the terms and conditions and/or product disclosure statement of these advertisers on their respected websites. By completing your details for the draw you release Aussie Gift Card and EMBR Group Pty Ltd from any consequences or outcomes relating to interactions between you and any of our advertisers, sponsors or partners.</p>
      
                <p class="text-center pb-0">Authorised under NSW Permit No. LTPM/16/00466 ACT Permit No. TP16/00867.1</p>
                <div class="design text-center">
                  <a href="#">Privacy Policy</a> <span class="line">|</span>  <a target="_blank" href="http://www.webenlance.com">Terms & Conditions</a>
                </div>
                <div class="copyright text-center">
                  COPYRIGHT 2018 © AUSSIEGIFTCARD — ALL RIGHTS RESERVED.
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    <div class="clearfix"></div>
  </footer>
}

@@if (bgGrey === false) {
  <footer class="footer-container bg-blue-dark">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <ul class="menu-footer">
                <li class="nav-item"><a class="nav-link" href="">Aussie</a></li>
                <li class="nav-item"><a class="nav-link" href="">Winners</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
             <div class="footer-content">
                <p class="text-center">The information that you supply on this website is handled by AussieGiftCard.com and EMBR Group Pty Ltd. ABN 274 178 375 87 in a manner conforming with the Privacy Act 1988. By completing your details above to enter our prize draw you consent to AussieGiftCard.com, EMBR Group Pty Ltd. and its advertisers and sponsors (who may be outside of Australia, Including, but not limited to, USA, EU, NZ, India and the Philippines) using your email address to deliver you information and promotional material concerning third party offers.</p>
    
                <p class="text-center">You also consent for us to supply your contact information and survey responses to our prize sponsors so that they may use them to contact you via email, telephone or post. By submitting your details above and selecting an offer from our survey, you expressly consent for that entity to contact you on the details provided. You agree that we can use your details for an indefinite period or until you notify us or opt out from receiving other offers. Trademarks, logos, brands and images that appear on this website are not property of AussieGiftCard.com and EMBR Group Pty Ltd. and are property of their respective owners.</p>
      
                <p class="text-center">Aussie Gift Card and EMBR Group Pty Ltd. does receive marketing fees from all advertisers including any financial institutions. You should always read the terms and conditions and/or product disclosure statement of these advertisers on their respected websites. By completing your details for the draw you release Aussie Gift Card and EMBR Group Pty Ltd from any consequences or outcomes relating to interactions between you and any of our advertisers, sponsors or partners.</p>
      
                <p class="text-center pb-0">Authorised under NSW Permit No. LTPM/16/00466 ACT Permit No. TP16/00867.1</p>
                <div class="design text-center">
                  <a href="#">Privacy Policy</a> <span class="line">|</span>  <a target="_blank" href="http://www.webenlance.com">Terms & Conditions</a>
                </div>
                <div class="copyright text-center">
                  COPYRIGHT 2018 © AUSSIEGIFTCARD — ALL RIGHTS RESERVED.
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    <div class="clearfix"></div>
  </footer>
}
<div id="fb-root"></div>