<header class="header-container bg-grey">
  <div class="header-content">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
          <a href="#mobile-menu-main" class="left mobile-menu-main">
            <span class="icon-menu"></span>
          </a>
          <div class="logo-container col-sm-3">
            <a class="navbar-brand" href="#">
              <img class="img-logo" src="images/logo.png" alt="logo">
            </a>
          </div>
          <!-- The menu -->
          <div class="col-sm-6">
            <div id="mobile-menu-main">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">aussie</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">winner</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="social float-right">
              <!-- <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> -->
              <img style="max-width: 190px; margin: 0 auto;" src="images/facebook-plugin.png" alt="">
              <p class="total-like">
                90K people like this. Be the first of your friends.
              </p>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="social-mobile">
              <!-- <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> -->
              <img style="max-width: 190px; margin: 0 auto;" src="images/facebook-plugin.png" alt="">
              <p class="total-like">
                90K people like this. Be the first of your friends.
              </p>
            </div>
          </div>
        </nav>
        
    </div>
  </div>
</header>