.btn-view {
  @include transition(all 0.30s ease-in-out);
  background: #0ab3ee;
  @include rem ('padding', 15, 23, 15, 23);
  @include inline-block();
  text-align: center;
  @include roundedCorners(30);
  .icon-click {
    @include roundedCorners(30);
  }
  .text-btn {
    @include rem ('font-size', 15);
    line-height: 1.4;
    font-family: $font-heading-b;
    color: #fff;
    text-shadow: -1px 2px rgba(37, 37, 37, 0.3);
  }
  &:hover, &:focus {
    background: $color-primary;
    .text-btn {
      color: #fff;
    }
  }
}

.btn-link {
  @include transition(all 0.30s ease-in-out);
  background: #fff;
  @include rem ('padding', 3, 12, 3, 12);
  @include inline-block();
  text-align: center;
  @include roundedCorners(30);
  &:hover, &:focus {
    background: $color-primary;
    .text-btn, .icon-download{
      color: #fff;
    }
  }
  .text-btn {
    @include rem ('font-size', 15);
    line-height: 1.4;
    font-family: $font-heading-b;
    color: #0ab3ee;
  }
}

.btn-enter {
  line-height: 1.4;
  font-family: $font-heading-b;
  color: #fff;
  @include rem ('font-size', 23);
  text-shadow: -1px 2px rgba(37, 37, 37, 0.3);
  background: $color-blue;
  @include roundedCorners(50);
  @include rem ('padding', 9, 37, 9, 37);
  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
}

.btn-send {
  padding: 18px 77px;
  background: #23dbfe; /* Old browsers */
  background: -moz-linear-gradient(top, #23dbfe 0%, #2bb0e5 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #23dbfe 0%,#2bb0e5 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #23dbfe 0%,#2bb0e5 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23dbfe', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  color: #fff;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: $font-heading-b;
  color: #fff;
  @include rem ('font-size', 20);
  @include transition(all 0.30s ease-in-out);
  &:hover {
    background: #3498db; /* Old browsers */
    background: -moz-linear-gradient(top, #3498db 0%, #11a3dc 50%, #207cca 100%, #18c2ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3498db 0%,#11a3dc 50%,#207cca 100%,#18c2ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3498db 0%,#11a3dc 50%,#207cca 100%,#18c2ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#18c2ff',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3499db', endColorstr='#3498db',GradientType=1 ); /* ie6-9 */
    color: #fff;
  }
  border: none;
}

.btn-next {
  padding: 15px 80px;
  background: #23dbfe; /* Old browsers */
  background: -moz-linear-gradient(top, #23dbfe 0%, #2bb0e5 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #23dbfe 0%,#2bb0e5 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #23dbfe 0%,#2bb0e5 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23dbfe', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  color: #fff;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: $font-heading-b;
  color: #fff;
  @include rem ('font-size', 20);
  @include transition(all 0.30s ease-in-out);
  &:hover {
    background: #3498db; /* Old browsers */
    background: -moz-linear-gradient(top, #3498db 0%, #11a3dc 50%, #207cca 100%, #18c2ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3498db 0%,#11a3dc 50%,#207cca 100%,#18c2ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3498db 0%,#11a3dc 50%,#207cca 100%,#18c2ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#18c2ff',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3499db', endColorstr='#3498db',GradientType=1 ); /* ie6-9 */
    color: #fff;
  }
  border: none;
}

.btn-facebook {
  background-color: #245dd0;
  border: 1px solid #2a4a8a;
  -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
  @include rem ('font-size', 12);
  .text, .icon-facebook {
    color: #fff;
  }
}

.btn-blue {
  background: #23dbfe; /* Old browsers */
  background: -moz-linear-gradient(top, #23dbfe 0%, #2bb0e5 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #23dbfe 0%,#2bb0e5 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #23dbfe 0%,#2bb0e5 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23dbfe', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  &:hover {
    background: #3498db; /* Old browsers */
    background: -moz-linear-gradient(top, #3498db 0%, #11a3dc 50%, #207cca 100%, #18c2ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3498db 0%,#11a3dc 50%,#207cca 100%,#18c2ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3498db 0%,#11a3dc 50%,#207cca 100%,#18c2ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#18c2ff',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3499db', endColorstr='#3498db',GradientType=1 ); /* ie6-9 */
    color: #fff;
  }
  border: none;
}

.btn-grey {
  background: #dfdfdf; /* Old browsers */
  background: -moz-linear-gradient(top, #dfdfdf 0%, #d7d7d7 50%, #d5d5d5 100%, #c8c8c8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dfdfdf 0%,#d7d7d7 50%,#d5d5d5 100%,#c8c8c8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dfdfdf 0%,#d7d7d7 50%,#d5d5d5 100%,#c8c8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-9 */
  border: none;
}