.box-shadow { 
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}
.border-bottom {
  border-bottom: 1px solid $color-border;
}
.card {
  .card-text {
    line-height: 1.4;
    font-family: $font-heading-sb;
    color: $color-text-default;
    @include rem ('font-size', 22);
  }
  .card-img-top {
    display: block;
    width: 100%;
    border: 5px solid white;
  }
  .body-style-detail {
    @include rem ('padding', 40, 25, 40, 25);
    @include breakpoint (600) {
      @include rem ('padding', 15, 20, 15, 20);
    }
    @include breakpoint (768) {
     text-align: left !important;
    }
    .item {
      @include rem ('padding', 5, 0, 5, 0);
      .label {
        line-height: 1.4;
        font-family: $font-heading-sb;
        color: $color-blue;
        @include rem ('font-size', 21);
        @include breakpoint (992) {
          @include rem ('font-size', 16);
        }
        @include breakpoint (768) {
          @include rem ('font-size', 14);
        }
      }
      .info {
        line-height: 1.4;
        font-family: $font-heading-sb;
        color: $color-text-default;
        @include rem ('font-size', 20);
        @include breakpoint (992) {
          @include rem ('font-size', 14);
        }
        @include breakpoint (768) {
          @include rem ('font-size', 14);
        }
      }
    }
  }
  .block-image-card {
    position: relative;
    .tag-item {
      position: absolute;
      top: 5px;
      right: 5px;
      text-align: center;
      @include rem ('padding', 5, 10, 5, 10);
      .icon-mark-as-favorite-star {
        @include rem ('font-size', 14);
      }
      .text {
        @include rem ('padding-left', 5);
      }
    }
    .tag-blue {
      background-color: $color-blue;
      color: #fff;
    }
    .tag-red {
      background-color: $color-red;
      color: #fff;
    }
  }
}
// ----------------------------------------------------------------------
// Heading
// ----------------------------------------------------------------------
.heading-category {
  line-height: 1.4;
  font-family: $font-heading-l;
  color: $color-text-default;
}

.heading-30 {
  @include rem ('font-size', 30);
  @include rem ('padding', 20, 0, 40, 0);
  @include breakpoint (767) {
    @include rem ('font-size', 22);
    @include rem ('padding', 15, 0, 15, 0);
  }
}

/* Zoom In #1 */
.card > img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.card:hover img {
  opacity: 0.9;
	background: #4a3753;
}

.ads {
  @include rem ('max-width', 430);
  @include rem ('padding', 30, 0, 30, 0);
  margin: 0 auto;
  @include breakpoint (992) {
    @include rem ('max-width', 230);
    @include rem ('padding', 15, 0, 15, 0);
  }
}