// ----------------------------------------------------------------------
// Font Family
// ----------------------------------------------------------------------
@font-face {
  font-family: 'Titillium-Semibold';
  src: url('../fonts/Titillium-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Titillium-Semibold.otf')  format('opentype'),
	     url('../fonts/Titillium-Semibold.woff') format('woff'), url('../fonts/Titillium-Semibold.ttf')  format('truetype'), url('../fonts/Titillium-Semibold.svg#Titillium-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium-Bold';
  src: url('../fonts/Titillium-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Titillium-Bold.otf')  format('opentype'),
	     url('../fonts/Titillium-Bold.woff') format('woff'), url('../fonts/Titillium-Bold.ttf')  format('truetype'), url('../fonts/Titillium-Bold.svg#Titillium-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium-Regular';
  src: url('../fonts/Titillium-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Titillium-Regular.otf')  format('opentype'),
	     url('../fonts/Titillium-Regular.woff') format('woff'), url('../fonts/Titillium-Regular.ttf')  format('truetype'), url('../fonts/Titillium-Regular.svg#Titillium-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium-Light';
  src: url('../fonts/Titillium-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Titillium-Light.otf')  format('opentype'),
	     url('../fonts/Titillium-Light.woff') format('woff'), url('../fonts/Titillium-Light.ttf')  format('truetype'), url('../fonts/Titillium-Light.svg#Titillium-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
